# ignore html files
*.html

# ignore all textual files
#*.txt

# ignore object and archive files
*.[oa]

# ignore auto-saved files
*~
\#*\#

# excepted these manually configured files

# ignore built files
build/
release/*
debug/*
build/*
